*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins',Arial, sans-serif;  
}
.profile{
    border-radius: 60%;
    flex-grow: 1;
    margin-top: 5rem;
    width: 90%; 
    height: 90%;
}
.profile:hover{
    border: 2px solid yellow ;
}
header{
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* outline: 1px solid red; */
}
.logo{
    display: flex;
    justify-content: center; 
    align-items: center;
    /* outline: 1px solid purple; */
}
.logoImage{
    width: 35%;
    height: 35%;
    /* outline: 1px solid green; */  
}
nav{
    /* outline: 1px solid blue; */
    font-size: large;
    flex-grow: 1;
}
ul{
display: flex;
justify-content: space-evenly;
}
li{
    list-style: none;
}
a{
text-decoration: none;
color: black;
/* outline: 1px solid yellow; */
}

.whatsApp_Link{
    width: 30%;
}
a:hover{

    background-color: rgba(243, 243, 5, 0.705);
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.content2{
clear: both;
/* outline: 1px solid green; */
line-height: 1.6;
background-color: #696969;
height: 10vh;
}
.content1{
    /* outline: 1px solid yellowgreen; */
    display: flex;
    justify-content: space-evenly;
}
    .whoAMI{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 2px;
        width: 50%;
        padding: 4rem;
        line-height: 1.6;
    }
    .profileContainer{
        /* outline: 1px solid rgb(0, 77, 128); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        line-height: 1.6;
        height: 60vh;
    }
    .Social_links{
        /* outline: 1px solid orange; */
        display: flex;
        height: 20%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .whatsApp{
        width: 25%;
        height: 85%; 
        /* outline: 1px solid red; */
    }
    .projectGallery{
        /* outline: 1px solid red; */
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        margin-left: 1rem;
        border-radius: 3px;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      .container {
        padding: 10px 16px;
      }
      .phone {
        display: none;
      }
      @media screen and (max-width:500px) {
        .content1{
            display: flex;
            flex-direction: column;
        }

        .whoAMI{
            width: 98%;
            padding: 0.5rem;
        }

        header{
            display: flex;
           flex-direction: row;
           height: 200px;
        }

        nav{
            width: 100%;
            display: none;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
            }
            .logoImage{
               /* display: none; */
               width: 50%;
               height: 50%; 
            }
            .projectGallery{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
            }
            .card {
                width: 100%;
                margin-bottom: 1rem;
              }
              .profileContainer{
                padding: 1rem;
                line-height: 1.6;
                height: 50vh;
                margin-top: 2em;
                margin-bottom: 2em; 
            }
            a:hover{
                background-color: rgba(243, 243, 5, 0.705);
                padding: 0;
                border-radius: 5px;
            }
            .phone{
                display: block;
                margin-bottom: 2rem;
            }
            .desktop{
                display: none;
            }
      }

